*
!.gitattributes
!.gitignore
!readme.md
!LICENSE.txt

!bin/
!bin/**/
!bin/**/*
bin/Emulicious/*

!scripts/
!scripts/**/
!scripts/**/*

!sources/
!sources/**
!sources/**/*

!Data/
!Data/**
!Data/**/

!.vscode/
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
