*

!.gitignore
!readme.md

!bin/
!bin/**/
!bin/**/*
bin/win64/Emulicious/*

!scripts/
!scripts/**/
!scripts/**/*

!sources/
!sources/**
!sources/**/*
!*.asm
!*.inc

!.vscode/
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
